<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/style2.css">
</head>


<body>
    <div class="rocket1">
      <div class="rocket-body1">
        <div class="body1"></div>
        <div class="fin1 fin-left1"></div>
        <div class="fin1 fin-right1"></div>
        <div class="window1"></div>
        <div class="tubo1"></div>
      </div>
      <div class="exhaust-flame1"></div>
      <ul class="exhaust-fumes1">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <ul class="star1">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>

    <div class="rocket2">
        <div class="rocket-body2">
          <div class="body2"></div>
          <div class="fin2 fin-left2"></div>
          <div class="fin2 fin-right2"></div>
          <div class="window2a"></div>
          <div class="window2b"></div>
          <div class="window2c"></div>
          <div class="tubo2a"></div>
          <div class="tubo2b"></div>
        </div>
        <div class="exhaust-flame2a"></div>
        <div class="exhaust-flame2b"></div>
        <ul class="exhaust-fumes2">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <ul class="star2">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
         
        </ul>
      </div>
  </body>



  </html>